main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
}

.about {
    width: 60%;
    color: #333;
}

.about h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.about p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}